In [1]:
import numpy as np
import pandas as pd

In [2]:
df=pd.read_csv(r"bank.csv")

In [3]:
df

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,deposit
0,59,admin.,married,secondary,no,2343,yes,no,unknown,5,may,1042,1,-1,0,unknown,yes
1,56,admin.,married,secondary,no,45,no,no,unknown,5,may,1467,1,-1,0,unknown,yes
2,41,technician,married,secondary,no,1563,yes,no,unknown,5,may,1389,1,-1,0,unknown,yes
3,55,services,married,secondary,no,2476,yes,no,unknown,5,may,579,1,-1,0,unknown,yes
4,54,admin.,married,tertiary,no,184,no,no,unknown,5,may,673,2,-1,0,unknown,yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11157,33,blue-collar,single,primary,no,1,yes,no,cellular,20,apr,257,1,-1,0,unknown,no
11158,39,services,married,secondary,no,733,no,no,unknown,16,jun,83,4,-1,0,unknown,no
11159,32,technician,single,secondary,no,29,no,no,cellular,19,aug,156,2,-1,0,unknown,no
11160,43,technician,married,secondary,no,0,no,yes,cellular,8,may,9,2,172,5,failure,no
11161,34,technician,married,secondary,no,0,no,no,cellular,9,jul,628,1,-1,0,unknown,no

In [4]:
df.isnull().any()

age          False
job          False
marital      False
education    False
default      False
balance      False
housing      False
loan         False
contact      False
day          False
month        False
duration     False
campaign     False
pdays        False
previous     False
poutcome     False
deposit      False
dtype: bool

In [5]:
df['education'].fillna(df['education'].mode()[0],inplace=True)
df['balance'].fillna(df['balance'].median(),inplace=True)
df['duration'].fillna(df['duration'].mean(),inplace=True)

In [6]:
df.isnull().any()

age          False
job          False
marital      False
education    False
default      False
balance      False
housing      False
loan         False
contact      False
day          False
month        False
duration     False
campaign     False
pdays        False
previous     False
poutcome     False
deposit      False
dtype: bool

In [7]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()

In [8]:
x=df.iloc[:,:16].values
y=df.iloc[:,16].values

In [9]:
x

array([[59, 'admin.', 'married', ..., -1, 0, 'unknown'],
       [56, 'admin.', 'married', ..., -1, 0, 'unknown'],
       [41, 'technician', 'married', ..., -1, 0, 'unknown'],
       ...,
       [32, 'technician', 'single', ..., -1, 0, 'unknown'],
       [43, 'technician', 'married', ..., 172, 5, 'failure'],
       [34, 'technician', 'married', ..., -1, 0, 'unknown']], dtype=object)

In [10]:
y

array(['yes', 'yes', 'yes', ..., 'no', 'no', 'no'], dtype=object)

In [11]:
x=np.delete(x,0,axis=1)

In [12]:
x=np.delete(x,2,axis=1)

In [13]:
x=np.delete(x,2,axis=1)
x

array([['admin.', 'married', 2343, ..., -1, 0, 'unknown'],
       ['admin.', 'married', 45, ..., -1, 0, 'unknown'],
       ['technician', 'married', 1563, ..., -1, 0, 'unknown'],
       ...,
       ['technician', 'single', 29, ..., -1, 0, 'unknown'],
       ['technician', 'married', 0, ..., 172, 5, 'failure'],
       ['technician', 'married', 0, ..., -1, 0, 'unknown']], dtype=object)

In [14]:
x=np.delete(x,6,axis=1)

In [15]:
x=np.delete(x,6,axis=1)

In [16]:
x=np.delete(x,10,axis=1)
x

array([['admin.', 'married', 2343, ..., 1, -1, 0],
       ['admin.', 'married', 45, ..., 1, -1, 0],
       ['technician', 'married', 1563, ..., 1, -1, 0],
       ...,
       ['technician', 'single', 29, ..., 2, -1, 0],
       ['technician', 'married', 0, ..., 2, 172, 5],
       ['technician', 'married', 0, ..., 1, -1, 0]], dtype=object)

In [17]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()

In [18]:
x[:,0]=le.fit_transform(x[:,0])
x[:,1]=le.fit_transform(x[:,1])
x[:,3]=le.fit_transform(x[:,3])
x[:,4]=le.fit_transform(x[:,4])
x[:,5]=le.fit_transform(x[:,5])

In [19]:
y

array(['yes', 'yes', 'yes', ..., 'no', 'no', 'no'], dtype=object)

In [20]:
y[0:]=le.fit_transform(y[0:])

In [21]:
y

array([1, 1, 1, ..., 0, 0, 0], dtype=object)

x[0]=le.fit_transform(x[:,0])
x[1]=le.fit_transform(x[:,1])
x[3]=le.fit_transform(x[3])
x[4]=le.fit_transform(x[4])
x[5]=le.fit_transform(x[5])

In [22]:
from sklearn.preprocessing import OneHotEncoder
one=OneHotEncoder()

In [23]:
z=one.fit_transform(x[0:1])
x=np.delete(x,0,axis=1)
x=np.concatenate((z,x),axis=1)

C:\Users\Jyothi Swaroop\Anaconda3\lib\site-packages\sklearn\preprocessing\_encoders.py:415: FutureWarning: The handling of integer data will change in version 0.22. Currently, the categories are determined based on the range [0, max(values)], while in the future they will be determined based on the unique values.
If you want the future behaviour and silence this warning, you can specify "categories='auto'".
In case you used a LabelEncoder before this OneHotEncoder to convert the categories to integers, then you can now use the OneHotEncoder directly.
  warnings.warn(msg, FutureWarning)

ValueError: OneHotEncoder in legacy mode cannot handle categories encoded as negative integers. Please set categories='auto' explicitly to be able to use arbitrary integer values as category identifiers.

In [ ]:
x

In [ ]:
z=one.fit_transform(x[1:2]).toarray()
x=np.delete(x,1,axis=1)
x=np.concatenate((z,x),axis=1)

In [ ]:
x

In [ ]:
z=one.fit_transform(x[3:4]).toarray()
x=np.delete(x,3,axis=1)
x=np.concatenate((z,x),axis=1)

In [ ]:
x

In [ ]:
z=one.fit_transform(x[4:5]).toarray()
x=np.delete(x,4,axis=1)
x=np.concatenate((z,x),axis=1)

In [ ]:
x

In [ ]:
z=one.fit_transform(x[5:6]).toarray()
x=np.delete(x,5,axis=1)
x=np.concatenate((z,x),axis=1)

In [ ]:
x

In [ ]:
x.shape

In [ ]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3,random_state=0)

In [ ]:
x_test

In [ ]:
x_train

In [ ]:
y_test

In [ ]:
y_train

In [ ]:
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()

In [ ]:
x_train = sc.fit_transform(x_train)
x_test = sc.fit_transform(x_test)

In [ ]:
x_train

In [ ]:
x_test