# Data Preprocessing

In [79]:
import numpy as np
import pandas as pd

In [80]:
df=pd.read_csv(r"bank.csv")

In [81]:
df

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,deposit
0,59,admin.,married,secondary,no,2343.0,yes,no,unknown,5,may,1042.0,1,-1,0,unknown,yes
1,56,admin.,married,secondary,no,45.0,no,no,unknown,5,may,1467.0,1,-1,0,unknown,yes
2,41,technician,married,secondary,no,NaN,yes,no,unknown,5,may,1389.0,1,-1,0,unknown,yes
3,55,services,married,secondary,no,2476.0,yes,no,unknown,5,may,579.0,1,-1,0,unknown,yes
4,54,admin.,married,tertiary,no,184.0,no,no,unknown,5,may,673.0,2,-1,0,unknown,yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11157,33,blue-collar,single,primary,no,1.0,yes,no,cellular,20,apr,257.0,1,-1,0,unknown,no
11158,39,services,married,secondary,no,733.0,no,no,unknown,16,jun,83.0,4,-1,0,unknown,no
11159,32,technician,single,secondary,no,29.0,no,no,cellular,19,aug,156.0,2,-1,0,unknown,no
11160,43,technician,married,secondary,no,0.0,no,yes,cellular,8,may,9.0,2,172,5,failure,no
11161,34,technician,married,secondary,no,0.0,no,no,cellular,9,jul,628.0,1,-1,0,unknown,no

In [82]:
df.isnull().any()

age          False
job          False
marital      False
education     True
default      False
balance       True
housing      False
loan         False
contact      False
day          False
month        False
duration      True
campaign     False
pdays        False
previous     False
poutcome     False
deposit      False
dtype: bool

In [83]:
df['education'].fillna(df['education'].mode()[0],inplace=True)

In [84]:
df['balance'].fillna(df['balance'].median(),inplace=True)

In [85]:
df['duration'].fillna(df['duration'].mean(),inplace=True)

In [86]:
df.isnull().any()

age          False
job          False
marital      False
education    False
default      False
balance      False
housing      False
loan         False
contact      False
day          False
month        False
duration     False
campaign     False
pdays        False
previous     False
poutcome     False
deposit      False
dtype: bool

In [87]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()

In [88]:
x=df.iloc[:,:16]

In [89]:
y=df.iloc[:,16:17]

In [90]:
y['deposit']=le.fit_transform(df['deposit'])

In [91]:
y

       deposit
0            1
1            1
2            1
3            1
4            1
...        ...
11157        0
11158        0
11159        0
11160        0
11161        0

[11162 rows x 1 columns]

In [92]:
x['job']=le.fit_transform(x['job'])

In [93]:
x['marital']=le.fit_transform(x['marital'])
x['education']=le.fit_transform(x['education'])
x['default']=le.fit_transform(x['default'])
x['housing']=le.fit_transform(x['housing'])
x['loan']=le.fit_transform(x['housing'])

In [94]:
x['contact']=le.fit_transform(x['contact'])
x['month']=le.fit_transform(x['month'])
x['poutcome']=le.fit_transform(x['poutcome'])

In [95]:
x

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome
0,59,0,1,1,0,2343.0,1,1,2,5,8,1042.0,1,-1,0,3
1,56,0,1,1,0,45.0,0,0,2,5,8,1467.0,1,-1,0,3
2,41,9,1,1,0,550.0,1,1,2,5,8,1389.0,1,-1,0,3
3,55,7,1,1,0,2476.0,1,1,2,5,8,579.0,1,-1,0,3
4,54,0,1,2,0,184.0,0,0,2,5,8,673.0,2,-1,0,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11157,33,1,2,0,0,1.0,1,1,0,20,0,257.0,1,-1,0,3
11158,39,7,1,1,0,733.0,0,0,2,16,6,83.0,4,-1,0,3
11159,32,9,2,1,0,29.0,0,0,0,19,1,156.0,2,-1,0,3
11160,43,9,1,1,0,0.0,0,0,0,8,8,9.0,2,172,5,0
11161,34,9,1,1,0,0.0,0,0,0,9,5,628.0,1,-1,0,3

In [96]:
from sklearn.preprocessing import OneHotEncoder
one=OneHotEncoder()

In [98]:
x

array([[ 59.,   0.,   1., ...,  -1.,   0.,   3.],
       [ 56.,   0.,   1., ...,  -1.,   0.,   3.],
       [ 41.,   9.,   1., ...,  -1.,   0.,   3.],
       ...,
       [ 32.,   9.,   2., ...,  -1.,   0.,   3.],
       [ 43.,   9.,   1., ..., 172.,   5.,   0.],
       [ 34.,   9.,   1., ...,  -1.,   0.,   3.]])

In [100]:
y

array([[1],
       [1],
       [1],
       ...,
       [0],
       [0],
       [0]])

In [101]:
z=one.fit_transform(x[:,1:2])

C:\Users\Jyothi Swaroop\Anaconda3\lib\site-packages\sklearn\preprocessing\_encoders.py:415: FutureWarning: The handling of integer data will change in version 0.22. Currently, the categories are determined based on the range [0, max(values)], while in the future they will be determined based on the unique values.
If you want the future behaviour and silence this warning, you can specify "categories='auto'".
In case you used a LabelEncoder before this OneHotEncoder to convert the categories to integers, then you can now use the OneHotEncoder directly.
  warnings.warn(msg, FutureWarning)

In [102]:
z

<11162x12 sparse matrix of type '<class 'numpy.float64'>'
	with 11162 stored elements in Compressed Sparse Row format>

In [103]:
x=np.delete(x,1,axis=1)

In [106]:
x=np.concatenate((z,x),axis=1)

ValueError: zero-dimensional arrays cannot be concatenated